/* ==================== GITHUB BTN ==================== */

.github-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: #393d46;
  outline: 3px #393d46 solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 200ms;
  text-decoration: none;
}

.github-btn .text {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 200ms;
}

.github-btn svg path {
  transition: 200ms;
}

.github-btn:hover {
  background-color: transparent;
}

.github-btn:hover .text {
  color: #393d46;
}

.github-btn:hover svg path {
  fill: #393d46;
}
