/* ==================== GITHUB BTN ==================== */

.github-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: #0c0a09;
  outline: 3px #0c0a09 solid;
  outline-offset: -3px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
  }
}

// .github-btn svg path {
//   transition: 50ms;
// }

// .github-btn:hover {
//   background-color: transparent;
// }

// .github-btn:hover .text {
//   color: #393d46;
// }

// .github-btn:hover svg path {
//   fill: #393d46;
// }
