.line {
  margin-bottom: 20px;
  width: 1px;
  display: block;
  position: absolute;
  left: calc(50% + 390px);
  bottom: 0px;
  margin: 0;
}

.line svg {
  top: 0px;
  height: 100%;
  width: 100px;
  position: absolute;
  left: -50px;
}

.line svg path {
  stroke: #393d46;
  stroke-width: 1px;
  fill: none;
}

.line .box {
  width: 40px;
  height: 100%;
  position: relative;
  left: -20px;
  z-index: 1;
}

.line .box:hover {
  width: 100px;
  left: -50px;
}

@media screen and (max-width: 900px) {
  .line {
    display: none;
  }
}
