/* ==================== PROJETS ==================== */

#Projets {
  max-width: 828px;
  width: 100%;
  padding: 0 4rem;
  margin: 0 auto;
  margin-top: 32px;
}

#Projets {
  display: flex;
  flex-direction: column;
  // gap: 32px;
}

@media screen and (max-width: 520px) {
  #Projets {
    padding: 0 2rem;
  }
}

/* ==================== PROJET ==================== */

.Projet {
  width: 100%;
  height: 200px;
  color: white;
  display: grid;
  grid-template:
    "left-top right" 50%
    "left-buttom right" 50% / 200px 1fr;
  margin-bottom: 32px;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow, transform 0.3s;

  &:hover {
    box-shadow: 2px 2px 0px var(--secondary-bg);
    // transform: scale(1.005);
  }
}

.Projet .left-top {
  grid-area: left-top;
  padding: 12px;
  padding-bottom: 0;
}

.Projet .left-buttom {
  grid-area: left-buttom;
  padding: 12px;
  padding-top: 0;
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.Projet .left-buttom ul {
  list-style: none;
  display: flex;
  align-items: start;
  flex-direction: row;
  gap: 4px;
}

.Projet .right {
  grid-area: right;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Projet .right img {
  width: auto;
  height: 100%;
}

@media screen and (max-width: 700px) {
  .Projet {
    height: 300px;
    grid-template:
      "left-top" 25%
      "left-buttom" 25%
      "right" 50% / 1fr;
  }

  .Projet .right img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 455px) {
  .Projet .right img {
    width: auto;
    height: 100%;
  }
}
