---
import { Icon } from "astro-icon/components";

export interface Props {
  name: string;
  icon: string;
}

const { name, icon } = Astro.props;
---

<div
  class="tooltip scale-100 hover:scale-105 transition-all duration-100 relative group"
  role="tooltip"
  tabindex="0"
  aria-describedby={`tooltip-${name.replace(/\s+/g, "-").toLowerCase()}`}
>
  <span
    id={`tooltip-${name.replace(/\s+/g, "-").toLowerCase()}`}
    class="tooltiptext"
    role="tooltip"
  >
    {name}
  </span>
  <Icon name={icon} class="size-4 text-primary" aria-hidden="true" />
</div>
