---
import { Icon } from "astro-icon/components";
---

<script is:inline>
    const toggleTheme = () => {
        const isDarkMode = document.documentElement.classList.contains("dark");
        document.documentElement.classList.toggle("dark", !isDarkMode);
        document
            .querySelector("[data-theme-toggle]")
            .setAttribute(
                "aria-label",
                `Passer au thème ${!isDarkMode ? "sombre" : "clair"}`,
            );
    };
</script>

<button
    data-theme-toggle
    class="inline-flex items-center cursor-pointer justify-center ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 hover:bg-foreground hover:text-primary size-[34px] rounded-md p-2 text-muted"
    onclick="toggleTheme()"
    aria-label="Passer au thème sombre"
    title="Changer le thème"
>
    <Icon
        name="sun"
        class="rotate-0 scale-100 transition-all dark:-rotate-90 dark:scale-0"
        aria-hidden="true"
    />
    <Icon
        name="moon"
        class="absolute rotate-90 scale-0 transition-all dark:rotate-0 dark:scale-100"
        aria-hidden="true"
    />
</button>
