---
import Button from "./common/Button.astro";
---

<footer
  class="motion-preset-slide-up container mt-12 flex flex-col items-center gap-16"
>
  <div class="flex flex-col items-center gap-2">
    <Button href="https://github.com/aBgAmeuR" icon="github">
      Voir plus de projets
    </Button>
  </div>
  <span class="text-muted"
    >© 2025 by <a
      href="https://github.com/aBgAmeuR"
      target="_blank"
      rel="noreferrer"
      class="font-medium text-primary underline-offset-4 hover:underline"
      >Antoine JOSSET</a
    >. All rights reserved.</span
  >
</footer>
