---
export interface Props {
  title: string;
  description?: string;
  id?: string;
}

const { title, description, id } = Astro.props;
---

<div>
  <h3 class="font-semibold" id={id}>{title}</h3>
  {description && <p class="text-muted">{description}</p>}
</div>
