---
import WorkExperience from "./common/WorkExperience.astro";
import SectionTitle from "./SectionTitle.astro";
import orangeImage from "../assets/orange-logo.jpg";
import bleezImage from "../assets/bleez-logo.jpg";

const work = [
    {
        company: "Orange Business",
        job: "Alternance Développeur Front-End",
        date: "2025 - Présent",
        logo: orangeImage,
        link: "https://www.orange-business.com",
    },
    {
        company: "Bleez",
        job: "Alternance Développeur Full Stack",
        date: "2024 - 2025",
        logo: bleezImage,
        link: "https://www.bleez.com",
    },
];
---

<section class="mt-12 px-6 flex flex-col gap-2" aria-labelledby="work-title">
    <SectionTitle title="Expériences" id="work-title" />
    <div class="space-y-4">
        {work.map((workItem) => (
            <WorkExperience {...workItem} />
        ))}
    </div>
</section>
