#aboutme {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  color: #fff;

  .content {
    margin: 0 2rem;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  h2 {
    font-size: 16px;
    font-weight: 500;
  }
  p {
    color: #c0c0c0;
    font-size: 16px;
    font-weight: 400;
  }
  .back {
    position: absolute;
    top: 16px;
    left: 16px;
    display: flex;
    cursor: pointer;
    background-color: var(--pricipal-bg);
    padding: 8px 12px;
    border-radius: 8px;
    gap: 8px;
    text-decoration: none;
    color: #ffffff;
  }
  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    padding-left: 2px;

  }
  a {
    color: #c0c0c0;
    font-weight: bold;
  }
}


@media screen and (max-width: 768px) {
  #aboutme {
    padding: 4rem 0;
    height: auto;
  }
}