/* ==================== HEADER ==================== */

header .div-center {
  padding: 0 4rem;
}

header a:hover svg path {
  fill: var(--primary-color);
}

@media screen and (max-width: 520px) {
  header .div-center {
    padding: 0 2rem;
  }
}

/* ==================== SECTION 1 ==================== */

#section1 {
  max-width: 828px;
  width: 100%;
  padding: 0 4rem;
}

#section1 .desc {
  font-size: 20px;
  line-height: 30px;
  margin-top: 40px;
}

#section1 .btn {
  margin-top: 13px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
}

#section1 .btn a {
  margin-right: 0px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  color: var(--tertiary-color);
}

#section1 .btn a:hover {
  margin-right: 10px;
}

@media screen and (max-width: 520px) {
  #section1 {
    padding: 0 2rem;
  }
}

/* ==================== SECTION 2 ==================== */

#section2 {
  width: 100%;
}

/* ==================== SECTION 3 ==================== */

#section3 {
  margin: 32px 0 12px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
}