---
import { Icon } from "astro-icon/components";
import { getTrackId } from "../../utils/tracks";

export type Props = {
    title: string;
    artists: string[];
};

const { title, artists } = Astro.props;
---

<article class="flex justify-between items-center gap-2">
    <span class="truncate">
        <span>{title}</span>
        <span class="text-muted text-sm">•</span>
        <span class="text-muted text-sm">{artists.join(", ")}</span>
    </span>
    <button
        data-track-id={getTrackId(title, artists)}
        class="button-ghost size-[28px]"
    >
        <Icon
            name="play"
            class="pointer-events-none shrink-0 size-4"
            aria-hidden="true"
        />
    </button>
</article>
